PORT=5001
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/cosmetics_store?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_key_here
PAYHERE_MERCHANT_ID=1211149
PAYHERE_SECRET=4MTg5MzIyNDMyMzExOTUxNDk1MTIzNDU2
WHATSAPP_NUMBER=94771129911
FRONTEND_URL=http://localhost:5173
NODE_ENV=development
